<%- include("partials/header") -%>

<div class="big-img">
  <img class="img-fluid" src="/img/home.jpg" alt="homeImg">
</div>

<div class="content-on-image">
  <h1>Welcome to my Blog site !</h1>
  <p><%= homeContent %></p>
</div>

<div class="container-fluid" id="post">
    <% postContent.forEach(function(post){ %>
      <div class="mx-3 pt-4">
        <h2><%= post.title %></h2>
      </div>
      <div class="mx-3">
        <p id="nameNdate">
          Posted by <%= post.name %> on <%= post.date %>
        </p>
      </div>
      <div class="mx-4">
        <p><%= post.content.substring(0,150) + "..." %> <a href= "/posts/<%= post._id %>" >Read More</a></p>
      </div>
      <hr>
    <% }) %>
<div/>

<%- include("partials/footer") -%>
