<%- include("partials/header") -%>

<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">DAILY BLOG</p>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- 6 -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav fw-bold ms-auto">
        <li class="nav-item p-2" id="home">
          <a class="nav-link" href="/">HOME</a>
        </li>
        <% if (val) { %>
          <li class="nav-item p-2" id="auth">
            <a class="nav-link" href="/logout">LOG OUT</a>
          </li>
        <% } %>
        <% if (!val) { %>
          <li class="nav-item p-2" id="auth">
            <a class="nav-link" href="/register">SIGN UP</a>
          </li>
        <% } %>
        <li class="nav-item p-2" id="about">
          <a class="nav-link" href="/about">ABOUT US</a>
        </li>
        <li class="nav-item p-2" id="composeBlog">
          <a class="nav-link" href="/compose">COMPOSE BLOG</a>
        </li>
        <% if (val) { %>
          <li class="nav-item p-2" id="myblog">
            <a class="nav-link" href="/myblog">MY BLOGS</a>
          </li>
        <% } %>
        <% if (!val) { %>
          <li class="nav-item p-2" id="contact">
            <a class="nav-link" href="/contact">CONTACT US</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<div class="container" id="openPost">
  <div class="m-5 d-flex justify-content-center">
    <h1><%= getTitle %></h1>
  </div>
  <div class="row m-3">
    <div class="col-6 d-flex justify-content-start">
      <p><em>on <%= getDate %></em></p>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <p><em>by <%= getName %></em></p>
    </div>
  </div>
  <div class="text-start m-3">
      <p><%= getContent %></p>
  </div>
</div>

<%- include("partials/footer") -%>
